//border
.border {
  border: 1px solid #EBEBEB !important
}

.border-0 {
  border: 0 !important
}

.border-top-0 {
  border-top: 0 !important
}

.border-right-0 {
  border-right: 0 !important
}

.border-bottom-0 {
  border-bottom: 0 !important
}

.border-left-0 {
  border-left: 0 !important
}

.border-1 {
  border: 1px solid #EBEBEB !important
}

.border-top-1 {
  border-top: 1px solid #EBEBEB !important
}

.border-right-1 {
  border-right: 1px solid #EBEBEB !important
}

.border-bottom-1 {
  border-bottom: 1px solid #EBEBEB !important
}

.border-left-1 {
  border-left: 1px solid #EBEBEB !important
}

//间距:   xs \ sm \ md \ lg  (4px  \  8px  \  16px  \  24px  )
.m0 {
  margin: 0 !important
}

.mt0 {
  margin-top: 0 !important
}

.mr0 {
  margin-right: 0 !important
}

.mb0 {
  margin-bottom: 0 !important
}

.ml0 {
  margin-left: 0 !important
}

.mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important
}

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

.p0 {
  padding: 0 !important
}

.pt0 {
  padding-top: 0 !important
}

.pr0 {
  padding-right: 0 !important
}

.pb0 {
  padding-bottom: 0 !important
}

.pl0 {
  padding-left: 0 !important
}

.px0 {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.m-xs {
  margin: 4px !important
}

.mt-xs {
  margin-top: 4px !important
}

.mr-xs {
  margin-right: 4px !important
}

.mb-xs {
  margin-bottom: 4px !important
}

.ml-xs {
  margin-left: 4px !important
}

.mx-xs {
  margin-right: 4px !important;
  margin-left: 4px !important
}

.my-xs {
  margin-top: 4px !important;
  margin-bottom: 4px !important
}


.p-xs {
  padding: 4px !important
}

.pt-xs {
  padding-top: 4px !important
}

.pr-xs {
  padding-right: 4px !important
}

.pb-xs {
  padding-bottom: 4px !important
}

.pl-xs {
  padding-left: 4px !important
}

.px-xs {
  padding-right: 4px !important;
  padding-left: 4px !important
}

.py-xs {
  padding-top: 4px !important;
  padding-bottom: 4px !important
}

.m-sm {
  margin: 8px !important
}

.mt-sm {
  margin-top: 8px !important
}

.mr-sm {
  margin-right: 8px !important
}

.mb-sm {
  margin-bottom: 8px !important
}

.ml-sm {
  margin-left: 8px !important
}

.mx-sm {
  margin-right: 8px !important;
  margin-left: 8px !important
}

.my-sm {
  margin-top: 8px !important;
  margin-bottom: 8px !important
}

.p-sm {
  padding: 8px !important
}

.pt-sm {
  padding-top: 8px !important
}

.pr-sm {
  padding-right: 8px !important
}

.pb-sm {
  padding-bottom: 8px !important
}

.pl-sm {
  padding-left: 8px !important
}

.px-sm {
  padding-right: 8px !important;
  padding-left: 8px !important
}

.py-sm {
  padding-top: 8px !important;
  padding-bottom: 8px !important
}

.m-md {
  margin: 16px !important
}

.mt-md {
  margin-top: 16px !important
}

.mr-md {
  margin-right: 16px !important
}

.mb-md {
  margin-bottom: 16px !important
}

.ml-md {
  margin-left: 16px !important
}

.mx-md {
  margin-right: 16px !important;
  margin-left: 16px !important
}

.my-md {
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.p-md {
  padding: 16px !important
}

.pt-md {
  padding-top: 16px !important
}

.pr-md {
  padding-right: 16px !important
}

.pb-md {
  padding-bottom: 16px !important
}

.pl-md {
  padding-left: 16px !important
}

.px-md {
  padding-right: 16px !important;
  padding-left: 16px !important
}

.py-md {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.m-lg {
  margin: 24px !important
}

.mt-lg {
  margin-top: 24px !important
}

.mr-lg {
  margin-right: 24px !important
}

.mb-lg {
  margin-bottom: 24px !important
}

.ml-lg {
  margin-left: 24px !important
}

.mx-lg {
  margin-right: 24px !important;
  margin-left: 24px !important
}

.my-lg {
  margin-top: 24px !important;
  margin-bottom: 24px !important
}

.p-lg {
  padding: 24px !important
}

.pt-lg {
  padding-top: 24px !important
}

.pr-lg {
  padding-right: 24px !important
}

.pb-lg {
  padding-bottom: 24px !important
}

.pl-lg {
  padding-left: 24px !important
}

.px-lg {
  padding-right: 24px !important;
  padding-left: 24px !important
}

.py-lg {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}


.text-left {
  text-align: left !important
}

.text-center {
  text-align: center !important
}

.text-right {
  text-align: right !important
}

.text-lowercase {
  text-transform: lowercase !important
}

.text-uppercase {
  text-transform: uppercase !important
}

.text-capitalize {
  text-transform: capitalize !important
}

.text-nowrap {
  white-space: nowrap !important
}

.text-wrap {
  white-space: pre-wrap !important
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.font-weight-normal {
  font-weight: 400
}

.font-weight-bold {
  font-weight: 700
}


//布局：
.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}


.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}


.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.el-button,
.el-button--mini,
.el-button--small,
.el-input__inner,
.el-textarea__inner,
.el-table,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li,
.el-pagination .el-select .el-input .el-input__inner
{
  border-radius: 2px !important;
}


// 取消tab的蓝色阴影
.el-tabs__item:focus.is-active.is-focus:not(:active) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

// 修改默认选中状态
// 遮住checkbox 重要
.check-tree-hidden {
  position: relative;

  ::before {
    content: '';
    height: 100%;
    width: 40px;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: -40px;
    top: 0;
    z-index: 99999;
  }
}

// .default-scrollbar__wrap{
.el-tree-node__content:hover {
  .check-tree-hidden {
    position: relative;

    ::before {
      content: '';
      height: 100%;
      width: 40px;
      display: inline-block;
      background: #D9E7FF;
      position: absolute;
      left: -40px;
      top: 0;
      z-index: 99999;
    }
  }

}

.el-tree-node.is-current>.el-tree-node__content {
  .check-tree-hidden {
    position: relative;

    ::before {
      content: '';
      height: 100%;
      width: 40px;
      display: inline-block;
      background: #D9E7FF;
      position: absolute;
      left: -40px;
      top: 0;
      z-index: 99999;
    }
  }
}

.el-tree-node__content {
  height: 30px;
}

.el-pagination.is-background .el-pager li {
  &.number {
    background: transparent;
  }

  &.el-icon-more {
    background: transparent;
  }

}

// 不换行
.el-pagination {
  white-space: nowrap;
}

// .el-pager .el-icon.more.btn-quicknext.el-icon-more,
// .el-pager .el-icon.more.btn-quickprev.el-icon-more,
// .el-pager .number {
//   display: none;
// }
// .el-pager .number.active{
//   display: inline-block !important;
// }
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  // border: 1px solid #F1F4F6 !important;
  border-radius: 2px !important;
  font-weight: normal !important;
  // background: #0E1015;
}

.el-table--border th.gutter:last-of-type {
  border: none !important;
  width: 0px;
  padding: 0px;
}

.gutter {
  display: block !important;
}

.js-basedata-faultcode,
.js-basedata-battry {
  .el-radio {
    margin-right: 10px;

    .el-radio__label {
      padding: 0
    }
  }

}

// 修改dialog
.el-dialog {
  background: $popup-bg !important;
}

.el-dialog__body {
  padding: 10px 15px 10px 15px !important;
  width:100%;
  // background: $popup-bg !important;
}

.el-dialog__footer {
  padding: 10px !important;
}

.dialog-cancel{
  background: #f2f3f5 !important;
  border-color: transparent !important;
  &:focus,
  &:hover{
    background: #e8e6e6 !important;
  }

  a{
    color: #484a4f;
  }
  &.el-button{
    color: #484a4f;
    &:focus,
    &:hover{
      color: #484a4f;
    }
  }
}

.el-table {
  .cell {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;

    &>div {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
    }

  }
}

// 修改check-box样式

.checked-filter {

  .el-checkbox__input.is-checked+.el-checkbox__label,
  .el-checkbox__label {
    color: #515c60;
    font-size: 13px;
  }
}

.search-senior-condition {
  .el-input-group__prepend {
    width: 80px;
    padding: 0;
    text-align: center;
  }
}

.el-select__tags {
  overflow: hidden;

  flex-wrap: nowrap !important;
}

// .el-tag {
//   // cursor: pointer;
//   // border-radius: 8px;
// }
.checkboxInput{
  .el-select__tags{
    overflow: auto !important;
    flex-wrap:wrap !important;
  }
}

.el-tag.tagPointer{
  cursor: pointer !important;
}



// .fullscreen-page{
//   .amap-toolbar{
//     top: 60px !important;
//     right: 25px !important;
//   }
// }
.el-cascader {
  width: 100%
}

.header-statistics-fun {
  .el-badge__content.is-fixed {
    top: 15px;
  }
}


// 修改dialog
.el-dialog__header {
  padding: 0 !important;
}


a {
  color: $theme-text-a;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100% !important;
}

.empty-btn {
  background-color: #7a8693;
  border-color: #7a8693;
  color: #fff;
}

.el-form-item__label {
  font-weight: normal;
  font-size: 12px !important;
  padding: 0 !important;
}

//修改日历样式
.el-date-picker {
  width: 275px !important;
}

.el-date-picker .el-picker-panel__content {
  width: 254px !important;
}

.el-date-table th {
  padding: 0 5px !important;
}

.el-date-table td {
  padding: 0 !important;
}

.el-date-table td div {
  padding: 0 !important;
}

.el-date-table td,
.el-date-table td div {
  height: 25px !important;
}

.el-picker-panel__content {
  // margin: 0 10px 5px 10px !important;
}

.el-date-picker__header {
  margin: 5px 10px 0 10px !important;
}

.el-date-picker__time-header .el-input--small .el-input__inner {
  height: 28px !important;
  line-height: 28px !important;
}

.el-input,
.el-form-item__content {
  font-size: 12px !important;
}


//修改列表样式
.el-table th {
  // background: #f5f7fa;
  color: #515c60;
  font-size: 12px;
}

.el-table--small td,
.el-table--small th {
  // padding: 14px 0;
  border-right: 1px solid #e0e5e7;
  border-bottom: 1px solid #e0e5e7;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #e0e5e7;
}


.el-input-number {
  width: 100% !important;
}


.el-checkbox {
  margin-right: 8px;

  .el-checkbox__label {
    padding-left: 8px;
  }
}

.fun-authorize {
  .el-checkbox {
    margin-right: 5px !important;
  }
}

// message提示样式修改
.el-message{
  margin-top: 76px !important;
}

.el-message-box {
  .el-message-box__title {
    span {
      font-size: 18px !important;
    }

  }

  .el-message-box__close {
    font-size: 16px !important;
  }
}

.el-tabs__nav-wrap {
  height: 40px;
	line-height: 40px;

  &::after {
    height: 0;
  }

  i {
    font-size: 16px !important;
  }
}
.el-tabs__nav.is-top{
  height: 40px;
}

//排序
.caret-wrapper {
  visibility: hidden !important;
  height: 27px !important;
  width: 0 !important;
}

.el-table th.is-sortable:hover .caret-wrapper {
  visibility: visible !important;
}

.el-table .sort-caret {
  left: 3px !important;
}


.themeTabs {
  .el-tabs__nav-wrap::after {
    display: none !important;
  }

  .el-tabs__active-bar {
    display: none !important;
  }

  .el-tabs__item {
    border-right: 1px solid #ddd;
    height: 15px !important;
    line-height: 15px !important;
  }

  .el-tabs__item:last-child {
    border-right: 0 none !important;
  }

}

.tags-view-container{
  .el-tabs--bottom .is-scrollable .el-tabs__item.is-bottom:last-child,
  .el-tabs--bottom .is-scrollable .el-tabs__item.is-top:last-child,
  .el-tabs--top .is-scrollable .el-tabs__item.is-bottom:last-child,
  .el-tabs--top .is-scrollable .el-tabs__item.is-top:last-child{
    padding-right: 20px;
  }
}

.el-tabs__item {
  font-size: 12px !important;
  height: auto;
}

.el-collapse-item__wrap {
  border-top: 1px solid #EBEEF5;
}

.default-container-class {
  .el-collapse-item__content {
    padding-top: 18px;
  }
}
.el-collapse{
  padding-bottom: 16px;
  .el-collapse-item__wrap .el-form--label-right{
    padding-top: 7px;
  }
  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item{
    // margin-bottom: 7px;
  }
}

//隐藏地图左上角选项
.gm-style-mtc {
  display: none;
}

//图片放大效果
.logo-img .el-icon-circle-close {
  color: #fff;
  font-size: 30px !important;
}

.el-progress__text {
  font-size: 12px !important;
}

.el-table--scrollable-x{

  .el-table__fixed,
  .el-table__fixed-right{
    bottom: 16px !important;
  }
}

.search_list_border,
.pagination-container .el-pagination,
.el-select-dropdown,
.el-dropdown-menu,
.el-form,
.s3Box,
.selectedCarBox,
.finishBox,
.tree-wrap,
.custom-vin-select-list,
.el-alert{
  border-radius: 4px !important;
}
.el-input-group__prepend{
  border-radius: 4px 0 0 4px;
}
.el-input-group__append{
  border-radius: 0 4px 4px 0;
}
.input-with-select .el-input--suffix .el-input__inner{
  border-radius: 4px 0 0 4px !important;
}
.input-with-select .el-input__inner{
  border-radius: 0 !important;
}